<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Servlets -->
  <servlet>
    <servlet-name>hottubServiceImpl</servlet-name>
    <servlet-class>net.hentschel.home.hottub.mobile.server.HottubServiceImp</servlet-class>
  </servlet>

<servlet>
   <servlet-name>RESTservice</servlet-name>
   <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
   <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>         
      <!-- Important bit -->
      <param-value>net.hentschel.home.hottub.mobile.server.rest</param-value>          
   </init-param>
   <load-on-startup>1</load-on-startup>
</servlet>

  <servlet-mapping>
    <servlet-name>hottubServiceImpl</servlet-name>
    <url-pattern>/htmobile/htservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RESTservice</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>
